# --- Java/Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- Quarkus ---
.quarkus/
bin/
# If you use Quarkus Dev Services, sometimes it creates temp files
.continuustest/

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# --- Operating System ---
.DS_Store
Thumbs.db

# --- Environment & Logs ---
*.log
.env
.env.local